* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
}

.link-one {
    margin-left: auto;
}

.introduction {
    display: flex;
    flex-direction: column;
    padding: 0px 100px;
    background-color: #1F2937;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
}

.container-1 {
    display: flex;
}

.container-2 {
    display: flex;
    flex-direction: column;
}